@import 'filter.css';
@import 'menu.css';
@import 'list.css';



.main-mail-app {
    display: flex;
    flex-direction: column;
    background-color: #c7daff3d;
    flex-grow: 1;
}

.mail-app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
    background-color: #f3f7ff;
}

.mail-view {
    width: 100%;
    background-color: white;
    border-radius: 30px;
    margin: 0 15px 15px 0;
    height: 55vh;
    overflow: auto;
}
